* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    transition: background-color 0.3s linear;
}
ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0;
    padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
/* variables */
[data-theme="dark"] {
    --bg-color: #323232;
    --bg-color-alternative: #464646;
    --main-color: #EEEEEE;
    --nav-footer-color: #A7A7A7;
    --title-color: #EEEEEE;
    --subtitle-color: #A7A7A7;
    --card-bg-color: #5a5a5a;
    --label-color: #c1c1c1;
    --main-color-accent: #66bb6a;
}
[data-theme="light"] {
    --bg-color: #EEEEEE;
    --bg-color-alternative: #dedede;
    --main-color: #323232;
    --nav-footer-color: #666666;
    --title-color: #323232;
    --subtitle-color: #666666;
    --label-color: #939393;
    --card-bg-color: #ffffff;
    --main-color-accent: #994495;
}

.container{
    max-width: 1297px;
    padding: 20px 40px;
    margin-inline: auto;
}
.container__nav{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}
.container__resume{
    width: 594px;
    margin: 20px auto;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 4px 4px var(--main-color);
}
.nav__logo{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 13px;
    top: -15px;
}
.nav__logo svg{
    width: 100%;
    height: 100%;
    fill: var(--nav-footer-color);
}

/* download button */
.button {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
} 
.button, .button__icon, .button__text {
    transition: all 0.3s;
}  
.button .button__text {
    transform: translateX(12px);
    color: var(--font-color);
    font-weight: 600;
}  
.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}  
.button .svg {
    width: 20px;
    fill: var(--main-color);
}  
.button:hover {
    background: var(--bg-color);
}  
.button:hover .button__text {
    color: transparent;
}  
.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}  
.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}
/* theme switch */
.theme {
    --bg-color: #fff;
    --main-color: #323232;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color);
    border-radius: 100%;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}
.input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
}
.icon {
    position: absolute;
    top: calc(50% -13px);
    left: calc(50% -13px);
    width: 26px;
    height: 26px;
}
.icon.icon-moon {
    fill: var(--main-color);
}
.icon.icon-sun {
    stroke: var(--main-color);
    display: none;
}
.input:checked ~ .icon.icon-sun {
    display: block;
}
.input:checked ~ .icon.icon-moon {
    display: none;
}
.theme:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}
/* resume */
.resume__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 594px;
    margin-inline: auto;
}
/* aside */
.aside{
    width: 30%;
    height: 1056px;
    background-color: var(--bg-color-alternative);
    padding: 24px 20px 24px 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
}
.aside__contacts, .aside__socials, .aside__lang{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: start;
}

.aside__about-photo{
    cursor: zoom-in;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-bottom: 10px;
    transition: all 0.5s;
    object-fit: cover;
}
.aside__about-photo:active{
    width: 133px;
    height: 177px;
    border-radius: 10px 10px 0 0;
}
.aside__about-name{
    font-weight: 700;
    font-size: 15px;
    color: var(--main-color);
    margin-bottom: 5px;
}
.aside__about-specialization{
    font-weight: 500;
    font-size: 12px;
    color: var(--subtitle-color);
    margin-bottom: 15px;
}
.aside__about-descr{
    font-weight: 400;
    font-size: 10px;
    color: var(--subtitle-color);
}
.aside__contacts, .aside__socials, .aside__lang{      
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: start;
}    
.aside__wrapper{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.aside__icons {
    width: 20px;
    height: 20px;
}
.aside__label{
    font-weight: 400;
    font-size: 6px;
    color: var(--label-color);
}
.aside__label-section{
    font-weight: 400;
    font-size: 6px;
    color: var(--label-color);
    margin-bottom: 15px;
}
.aside__divider{
    width: 100%;
    height: 1px;
    border-radius: 100px;
    color: var(--main-color);
    margin: 20px 0;
}
.aside__content{
    font-weight: 500;
    font-size: 7px;
    color: var(--subtitle-color);
}
/* main */
.main{
    width: 70%;
    height: 1056px;
    border-radius: 0  10px 10px 0;
    padding: 32px 24px 15px 16px;
    background-color: #d7d7d7;
} 
.main__section{
    margin-bottom: 25px;
}
.main__title{
    font-weight: 500;
    font-size: 12px;
    color: var(--main-color);
    margin-bottom: 20px;
}
.main__gridRow2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.main__gridRow3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.main__gridRow4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.main__card{
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    cursor: pointer;
    background-color: var(--bg-color-alternative);
    border-radius: 10px;
}
.main__card-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}
.main__card-img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.main__card-imgTools{
    margin-bottom: 5px;
}
.main__card-imgProject{
    width: 100%;
    height: 64px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    margin-bottom: 12px;
}
.main__card-tools{
    justify-content: center;
    align-items: center;
}
.main__card-title{
    font-weight: 500;
    font-size: 6px;
    color: var(--main-color);
}
.main__card-subtitle{
    font-weight: 500;
    font-size: 7px;
    color: var(--main-color);
    margin-bottom: 2px;
}
.main__card-date,
.main__card-descr{
    font-weight: 300;
    font-size: 5px;
    color: var(--subtitle-color);
}